@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.signInFormContainer {
  font-family: "Montserrat", sans-serif;
  background: #f6f5f700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: -20px 0 50px;
  margin-top: 20px;
}

.headds {
  font-weight: bold;
  margin: 0;
}

.signinpara {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.signinspan {
  font-size: 12px;
}

.asignin {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.signincont {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin: 10px 10px;
}

.form-signincont form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-signincont {
  margin: 20px 0;
}

.social-signincont a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.form-signincont input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.signinbtn {
  border-radius: 20px;
  border: 1px solid #ffffff2f;
  background: #233d4d;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.signinbtn:active {
  transform: scale(0.95);
}

.signinbtn:focus {
  outline: none;
}

.signinbtn.ghost {
  background: transparent;
  border-color: #fff;
}

.form-signincont {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-signincont {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-signincont {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.soverlay-signincont {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.soverlay {
  background: #233d4d;
  background: linear-gradient(to right, #04fef1, #a1d104) no-repeat 0 0 / cover;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.soverlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.soverlay-right {
  right: 0;
  transform: translateY(0);
}

.soverlay-left {
  transform: translateY(-20%);
}

/* Move signin to right */
.signincont.right-panel-active .sign-in-signincont {
  transform: translateY(100%);
}

/* Move soverlay to left */
.signincont.right-panel-active .soverlay-signincont {
  transform: translateX(-100%);
}

/* Bring signup over signin */
.signincont.right-panel-active .sign-up-signincont {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Move soverlay back to right */
.signincont.right-panel-active .soverlay {
  transform: translateX(50%);
}

/* Bring back the text to center */
.signincont.right-panel-active .soverlay-left {
  transform: translateY(0);
}

/* Same effect for right */
.signincont.right-panel-active .soverlay-right {
  transform: translateY(20%);
}

.footer {
  margin-top: 25px;
  text-align: center;
}

.icons {
  display: flex;
  width: 30px;
  height: 30px;
  letter-spacing: 15px;
  align-items: center;
}
