/* Volunteer_Predict Styles */

/* Card layout */

body {
  background: linear-gradient(to right, #deeff1, #ddebe8);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* body {
  background: linear-gradient(to bottom, #4cb8c4 0%, #3cd3ad 100%);
  background-size: 100% 100%;
  animation: wave 60s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1350px;
  }
} */

.volunteer-predict {
  background-color: #ffffffc4;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 2rem auto;
  max-width: 600px;
  padding: 2rem;
}

.volunteer-predict h1,
h3,
h4 {
  text-align: center;
  margin-bottom: 2rem;
}

.volunteer-predict h2 {
  margin: 1rem;
  color: black;
}

.volunteer-predict p {
  color: black;
  margin: 1rem;
  font-size: 1.5rem;
}
.volunteer-predict form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.volunteer-predict label {
  font-size: 20px;
  font-weight: bold;
  margin: 1rem;
}

.volunteer-predict input {
  border: none;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;
  font-family: inherit;
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  margin-left: 1rem;
}

/* Keyframe animations for inputs and buttons */
.volunteer-predict input:focus {
  outline: none;
  animation: input-focus 0.3s ease-in-out;
}

.volunteer-predict button {
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-family: inherit;
  background-color: #3f51b5;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.volunteer-predict button:hover {
  background-color: #2f3d88;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  animation: button-hover 0.3s ease-in-out;
}

/* Glassmorphism effect */
.volunteer-predict {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Keyframe animations */
@keyframes input-focus {
  0% {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }
  50% {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  100% {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }
}

@keyframes button-hover {
  0% {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
  }
  50% {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
  }
  100% {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
  }
}
